@use '../general-styles/colors';
@use '../general-styles/typography';

.sec-mini-title {
  font-size: typography.font-size-st('sc');
  color: colors.color-type('3');

  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 0.2rem;
    width: 2rem;
    transform: translateY(-50%);
    background-color: colors.color-theme('2');
  }

  &::before {
    left: -60%;
  }
  &::after {
    right: -60%;
  }
}
