body {
  font-family: 'Robot', sans-serif;
  line-height: 1.5;
}

a, input[type='submit'] {
  text-decoration: none;
  border-right: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 1.5rem;
}